<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.mapper.RoleMapper">
    <insert id="insertRoleASPermiss">
        insert into t_role_permiss(role_id,permission_id,create_date) values (#{permiss.roleId},#{permiss.permissionId},#{permiss.createDate})
    </insert>
    <delete id="deleteRoleAsPermiss">
        delete from t_role_permiss where role_id=#{id}
    </delete>
    <select id="queryUserAsRole" parameterType="int" resultType="com.tm.entity.UserASRole">
        select * from t_user_role where role_id=#{id}
    </select>
</mapper>